{% extends 'layout/layout.twig' %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            {% for post in posts %}


                <div class="col-12 mt-3 mx-auto">
                    <div class="post-preview">
                        <a href="../public/?id={{ post.id }}&access=blog!read">

                            <h2 class="post-title">
                                {{ post.title }}
                            </h2></a>
                        <h3 class="post-subtitle">
                            {{ post.lead }}
                        </h3>

                        <article>{{ post.content | nl2br |length > 200 ? post.content|slice(0,200) ~ '...' : post.content }}</article>
                        <br>
                        <p class="post-meta">Posté par
                            <strong>{{ post.author }}</strong> le <em>{{ post.update | date("d/m/Y h:m") }}</em></p>
                    </div>
                    <hr>
                </div>

            {% endfor %}


        </div>
    </div>

{% endblock %}
