{% extends 'layout/layout.twig' %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            {% for post in posts %}

                <div class="col-12 mt-3 mx-auto">
                    <div class="post-preview">
                        <a href="../public/?id={{ post.id }}&p={{ p }}&access=blog!read">

                            <h2 class="post-title">
                                {{ post.title }}
                            </h2></a>
                        <h3 class="post-subtitle">
                            {{ post.lead }}
                        </h3>

                        <article>{{ post.content | nl2br |length > 200 ? post.content|slice(0,200) ~ '...' : post.content }}</article>
                        <br>
                        <p class="post-meta">Posté par
                            <strong>{{ post.author }}</strong> Le <em>{{ post.add_date | date("d/m/Y G:i:s") }}</em></p>
                    </div>
                    <hr>
                </div>
            {% endfor %}
            {% set k = nbpage %}
            {% if nbpage > 0 %}
            <nav aria-label="Page navigation example" class="mx-auto">
                <ul class="pagination mx-auto justify-content-center">
                    {% for i in range(1,k) %}
                        {% if i == p %}
                            <li class="page-item active">
                            <span class="page-link">{{ i }}</span>
                        {% else %}
                            <li class="page-item">
                            <a class="page-link" href="../public/?p={{ i }}&access=blog">{{ i }}</a>
                        {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </nav>

        </div>
    </div>
{% endblock %}
