{% extends 'layout/layout.twig' %}

{% block content %}

    <div class="container">
        <div class="row has-success">
            <div class="clearfix float-left col-12 mt-2">
                <a class="btn btn-outline-dark" href="../public/?access=admin">&larr; Retour</a>
            </div>
            <div class="col-lg-8 col-md-10 mx-auto mt-2">
                <h3 class="mb-3 border-bottom text-center col-12">Edition</h3>
                <form name="sentMessage" id="editForm" method="post" enctype="multipart/form-data"
                      action="../public/?id={{ post.id }}&access=admin!update">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label class="font-weight-bold" for="author">Auteur</label>
                            <textarea rows="1" id="author" class="form-control ftext" name="author" required
                                      data-validation-required-message="Veuillez indiquer l'auteur de l'article">{{ post.author }}</textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label class="font-weight-bold" for="title">Titre</label>
                            <textarea rows="1" id="title" class="form-control ftext" name="title" required
                                      data-validation-required-message="Veuillez indiquer le titre de l'article">{{ post.title }}</textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label class="font-weight-bold" for="headline">Headline</label>
                            <textarea rows="1" id="headline" class="form-control ftext" name="lead" required
                                      data-validation-required-message="Veuillez indiquer le lead de l'article">{{ post.headline }}</textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label class="font-weight-bold" for="content">Article</label>
                            <textarea rows="7" id="content" class="form-control ftext" name="content" required
                                      data-validation-required-message="Veuillez indiquer le contenu de l'article">{{ post.content }}</textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-outline-dark" name="editForm">Sauvegarder <i
                                    class="far fa-save"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}