{% extends 'layout/layout.twig' %}

{% block content %}
    <!-- Formulaire -->
    <div class="container">
        <form method="post" name="register" enctype="multipart/form-data" action="../public/?access=user!register">
            <div class="row has-success mt-1">
                <h2 class="mt-4 mb-1 border-bottom text-center col-12">S'inscrire</h2>
                <p class="col-12 h4 mt-1 mb-4 text-center">Veuillez fournir des informations valides</p>
                <div class="form-group mt-3 col-lg-6 col-md-12">
                    <label for="firstname">Prénom</label>
                    <input type="text" id="firstname" name="firstname" placeholder="Votre prénom"
                           value="{{ data.firstname }}"
                           class="form-control ftext"
                           required>
                </div>
                <div class="form-group mt-3 col-lg-6 col-md-12">
                    <label for="lastname">Nom</label>
                    <input type="text" id="lastname" name="lastname" placeholder="Votre nom" value="{{ data.lastname }}"
                           class="form-control ftext"
                           required>
                </div>
                <div class="form-group mt-3 col-lg-6 col-md-12">
                    <label for="email">Adresse email</label>
                    <input type="email" id="email" name="email" class="form-control ftext"
                           placeholder="Votre email" value="{{ data.email }}" required>
                    <small class="form-text text-danger">{{ error.email }}</small>
                </div>
                <div class="form-group mt-3 col-lg-6 col-md-12">
                    <label for="username">Pseudo</label>
                    <input type="text" id="username" name="username" placeholder="Votre pseudo"
                           value="{{ data.username }}"
                           class="form-control ftext"
                           required>
                    <small class="form-text text-danger">{{ error.username }}</small>
                </div>
                <div class="form-group mt-3 col-lg-6 col-md-12">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="******" class="form-control ftext"
                           required>
                    <small class="form-text text-danger">{{ error.password }}</small>
                </div>
                <div class="form-group mt-3 col-lg-6 col-md-12">
                    <label for="passwordconfirm">Confirmer Password</label>
                    <input type="password" id="passwordconfirm" name="passwordconfirm" placeholder="******"
                           class="form-control ftext" required>
                </div>
                <div class="form-check offset-md-4 offset-1 col-10">
                    <input type="checkbox" id="checkbox" class="form-check-input" name="check" required>
                    <label class="form-check-label" for="checkbox">J'accèpte les conditions générales de
                        confidentialité.</label>
                </div>
                <button type="submit" name="submit" class="btn btn-outline-dark mt-4 mx-auto mb-5">Valider <i
                            class="fas fa-paper-plane"></i>
                </button>
            </div>
        </form>
    </div><!-- container -->

{% endblock %}
