{% extends 'layout/layout.twig' %}

{% block content %}
    <!-- Formulaire -->
    <div class="container">
        <form method="post" name="register" enctype="multipart/form-data" action="../public/?access=user!register">
            <div class="row has-success mt-1">
                <p class="col-12 h6 mt-1 mb-4 text-center text-danger">{{ error.fields }}</p>
                <h2 class="mt-4 mb-1 border-bottom text-center col-12">S'inscrire</h2>
                <p class="col-12 h6 mt-1 mb-4 text-center">Veuillez fournir des informations valides</p>

                <div class="form-group mt-3 col-6">
                    <label for="firstname">Prénom</label>
                    <input type="text" name="firstname" placeholder="Prénom" value="{{ firstname }}"
                           class="form-control"
                           required>
                </div>
                <div class="form-group mt-3 col-6">
                    <label for="lastname">Nom</label>
                    <input type="text" name="lastname" placeholder="Nom" value="{{ lastname }}" class="form-control"
                           required>
                </div>
                <div class="form-group mt-3 col-6">
                    <label for="email">Adresse email</label>
                    <input type="email" name="email" class="form-control" aria-describedby="emailHelp"
                           placeholder="Votre email" value="{{ email }}" required>
                    <small class="form-text text-danger">{{ error.email }}</small>
                </div>
                <div class="form-group mt-3 col-6">
                    <label for="username">Pseudo</label>
                    <input type="text" name="username" placeholder="Votre pseudo" value="{{ username }}"
                           class="form-control"
                           required>
                    <small class="form-text text-danger">{{ error.username }}</small>
                </div>
                <div class="form-group mt-3 col-6">
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Password" class="form-control"
                           required>
                    <small class="form-text text-danger">{{ error.password }}</small>
                </div>
                <div class="form-group mt-3 col-6">
                    <label for="password">Password</label>
                    <input type="password" name="passwordconfirm" placeholder="Confirmer Password"
                           class="form-control" required>
                    <small class="form-text text-muted">Veuillez confirmer votre password</small>
                </div>

                <div class="form-check offset-md-4 offset-1 col-10">
                    <input type="checkbox" class="form-check-input" name="check" required>
                    <label class="form-check-label" for="Check">J'accèpte les conditions générales de
                        confidentialité.</label>
                </div>
                <button type="submit" name="submit" class="btn btn-outline-dark mt-4 mx-auto mb-5">Valider <i
                            class="fas fa-paper-plane"></i>
                </button>
            </div>
        </form>
    </div><!-- container -->
{% endblock %}
