{% extends 'layout/layout.twig' %}

{% block content %}
    <!-- Formulaire -->
    <div class="container">
        <form method="post" name="update" enctype="multipart/form-data" action="../public/?access=user!update">
            <div class="row has-success mt-1">
                <h2 class="mt-4 mb-1 border-bottom col-12">Modifier votre profil</h2>
                <h3 class="col-12 text-center mt-3"><b>Profil : </b>{{ data.firstname }} {{ data.lastname }}</h3><br>
                <div class="form-group mt-3 col-lg-6 col-md-12">
                    <label for="email">Email actuel : {{ data.email }}</label>
                    <input type="email" name="email" class="form-control" aria-describedby="emailHelp"
                           placeholder="Nouvelle adresse email">
                    <small class="form-text text-danger">{{ error.email }}</small>
                </div>
                <div class="form-group mt-3 col-lg-6 col-md-12">
                    <label for="username">Pseudo actuel : {{ data.username }}</label>
                    <input type="text" name="username" placeholder="Nouveau pseudo"
                           class="form-control">
                    <small class="form-text text-danger">{{ error.username }}</small>
                </div>
                <h5 class="col-12 mt-2 text-center">Modifier votre password</h5>
                <div class="form-group mt-3 col-lg-4 col-md-12">
                    <label for="password">Ancien password</label>
                    <input type="password" name="oldpassword" placeholder="Ancien password" class="form-control">
                    <small class="form-text text-danger">{{ error.password0 }}</small>
                </div>
                <div class="form-group mt-3 col-lg-4 col-md-12">
                    <label for="password">Nouveau password</label>
                    <input type="password" name="newpassword" placeholder="Nouveau password" class="form-control">
                    <small class="form-text text-danger">{{ error.password }}</small>
                </div>
                <div class="form-group mt-3 col-lg-4 col-md-12">
                    <label for="password">Confirmer nouveau password</label>
                    <input type="password" name="passwordconfirm" placeholder="Confirmer nouveau password"
                           class="form-control">
                </div>
                <button type="submit" name="submit" class="btn btn-outline-dark mt-4 mx-auto mb-5">Sauvegarder <i
                            class="far fa-save"></i>
                </button>
            </div>
        </form>
    </div><!-- container -->
{% endblock %}